<div class="modal fade" id="simulateModal" tabindex="-1" aria-labelledby="simulateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="simulateModalLabel">{{ stock_item.stock }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {{ simulate_form.hidden_tag() }}
                <h5 class="text-center">
                    Are you sure you want to simulate {{ stock_item.stock }} for a week?
                </h5>
                <br>
                <h6 class="text-center">
                    By clicking simulate, you will simulate the stock price for 1 week.
                </h6>
                <br>
                <input type="hidden" id="simulate_stock" name="simulate_stock" value="{{ stock_item.stock }}">
                {{ simulate_form.submit(class="btn btn-outline-success btn-block")}}
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>