<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My App</title>
</head>
<body>
    <h1>Welcome to my App</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Eveniet cupiditate odio nostrum dicta quis assumenda eos, doloribus,
    ab inventore accusamus sint velit consequuntur reiciendis! Maxime quibusdam facere animi
    quod explicabo?</p>
</body>
</html>