**/client.properties
**/config.py"
**/config.py
**/.venv
**/logs
**/output
**/config
**/__pycache__
**/venv
**/target
**/target
**/dbt_packages/
**logs/
**/dbt/hotel_mgt/target
**/Tableau/
**/.gitkeep
.env
**/local-gcs-data
**/terraform/terraform.tfvars
**/terraform/backend.hcl
**/terraform/.terraform
**/terraform/.tmp/
**/terraform/*.tfstate*
**/terraform/terraform.tvars
**/companies.csv
**/vendors.csv
**/model_artifacts
**/sa-key.json