body, h1 {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

body {
    background-color: #212121;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.form-register,
.form-signin{
    color: white;
}

.register-h3 {
    text-align: center;
    color: beige;
}

.text-center {
    text-align: center;
}
