<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />

    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    
    <!-- Insert Navbar here should be lime green, grey and black-->

    <!-- Insert Flash Messages here -->

    <!-- Page Content -->
    {% block content %}

    {% endblock %}

    <!-- Insert jquery, Popper.js & Bootstrap JS -->

</body>
<footer>
    <!-- Footer should just be a very light grey with black font with a little
     font and copyright-->
</footer>
</html>