{% extends 'gh-base.html' %}
{% block title %}
Courses
{% endblock %}

{% block content %}
<h3>Program Courses</h3>

<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Course Id</th>
        <th scope="col">Course</th>
        <th scope="col">Grade</th>
        <th scope="col"> Grade Point</th>
      </tr>
    </thead>
    <tbody>
        {% for score in courses_data %}
        <tr>
            <td> {{ score['course_id'] }}</td>
            <td> {{ score['course_name']}}</td>
            <td> {{ score['course_grade'] }}</td>
            <td> {{ score['course_grade_point'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <p></p>
  <h3>Electives</h3>
<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Course Id</th>
        <th scope="col">Course</th>
        <th scope="col">Grade</th>
        <th scope="col">Grade Point</th>
      </tr>
    </thead>
    <tbody>
        {% for score in electives_data %}
        <tr>
            <td> {{ score['course_id'] }}</td>
            <td> {{ score['course_name']}}</td>
            <td> {{ score['course_grade'] }}</td>
            <td> {{ score['course_grade_point'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}