{% extends 'gh-base.html' %}
{% block title %}
Golden Heights
{% endblock %}

{% block content %}
<body class="homebody">
    <div class="homepage-container">
        <header class="homepage-header">
            <h1>Welcome to the Golden Heights University</h1>
            <p> For all your student needs </p>
        </header>

        <nav class="homepage-navbar">
            <a href="/catalogue">Catalogue</a>
            <a href="/students">Students List</a>
            <a href="/enroll">Apply</a>
            <a href="/catalog">Departments</a>
            <a href="/add-grades">Housing</a>
        </nav>

        <section class="homepage-dashboard">
            <h2>System Overview</h2>
            <div class="homepage-stats">
                <div class="homepage-stat-box">
                    <h3>Number of Students</h3>
                    <p> {{ total_students}} </p>
                </div>
                <div class="homepage-stat-box">
                    <h3>Courses Offered</h3>
                    <p>{{ total_courses }}</p>
                </div>
                <div class="homepage-stat-box">
                    <h3> Grade Distribution</h3>
                    <p>A: {{ As1 }}%,   B: {{ Bs1 }}%, C: {{ Cs1 }}%,  D: {{ Ds1 }}%</p>


                </div>
            </div>
        </section>

        <section class="homepage-recent-updates">
            <h2>Recent Updates</h2>
            <ul>
                <li>John Doe was enrolled in "Data Structures" on October 5th, 2024.</li>
                <li>"Machine Learning" course was added on October 3rd, 2024.</li>
                <li>Jane Smith's grade for "Algorithms" was updated on October 2nd, 2024.</li>
            </ul>
        </section>

        <footer class="homepage-footer">
            <p>&copy; 2024 Golden Heights</p>
        </footer>
    </div>
</body>
{% endblock %}