<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ stock_item.stock }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Stock: {{ stock_item.stock }} <br>
          Price: {{ stock_item.price }} <br>
          Volume: {{ stock_item.volume }} <br>
          High: {{ stock_item.high }} <br>
          Low: {{ stock_item.low }} <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>