{% extends "master.html" %}
{% load file_extras %}

{% block title %}
Cloud Drive
{% endblock %}

{% block content %}
    <header>
        <h1>Welcome {{ user.username }} to your Cloud Drive</h1>
    </header>
    <main>
        <p>This is your main content area.</p>
    <h3>
        Your Uploaded Files
    </h3>
    <ul>
        {% for folder in user_folders %}
        <li>
            <a href="{% url 'view_folder' folder.id %}">{{ folder.name }}</a>
            <a href="{% url 'rename_folder' folder.id %}">Rename</a>
            <a href="{% url 'delete_folder' folder.id %}" onclick="return confirm('Are you sure you want to delete this folder?')">Delete</a>
        </li>
        {% empty %}
        <li>No folders created yet.</li>
        {% endfor %}
    </ul>

    <h2>Create a new folder</h2>
    <a href="{% url 'create_folder' %}">New Folder</a>
    
    <ul>
        {% for file in user_files %}
        <li>
            <a href="{{ file.file.url }}">{{ file.file.name }}</a>
            Uploaded on: {{ file.uploaded_at }}, Size: {{ file.file.size|filesizeformat }}
            <a href="{% url 'preview_file' file.id %}">Preview</a>
            <a href="{% url 'move_file' file.id %}">Move</a>
            <a href="{% url 'delete_file' file.id %}" onclick="return confirm('Are you sure you want to delete this file?')">Delete</a>
            <a href="{% url 'copy_file' file.id %}" class="btn btn-secondary">Copy File</a>
        </li>
        {% empty %}
        <li>
            No file uploaded yet.
        </li>
        {% endfor %}
    </ul>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <form action="{% url 'upload_file' %}" method="get">
        <button type="submit">Upload</button>
    </form>
    </main>
    <footer>
        <p>&copy; 2024 Cloud Drive. All rights reserved.</p>
    </footer>
{% endblock %}