{% extends "master.html" %}


{% block title %}
File Upload
{% endblock %}

{% block content %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>Upload File</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    <p><a href="{% url 'main' %}">Back to Main</a></p>
{% endblock %}