{% extends 'base.html' %}
{% block title %}
Stocks Market
{% endblock %}

{% block content %}
<h2 class="text-white"></h2>
<div class="container">
    <br>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Volume</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for stock_item in stock_items %}
            {% include 'includes/info_modal.html' %}
            <tr>
                <td>{{stock_item.stock}}</td>
                <td>{{stock_item.price}}</td>
                <td>{{stock_item.volume}}</td>
                <td>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Info
                  </button>
                  <button class="btn btn-outline btn-success">Simulate Week</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}